a.accordion-toggle {
	text-decoration: none;
	color: inherit;
}

.accordion-toggle:before {
	/* symbol for "opening" panels */
	font-family: 'Glyphicons Halflings';   /* essential for enabling glyphicon */
	content: "\e114";    /* adjust as needed, taken from bootstrap.css */
	margin-right: 10px;
	float: left;        /* adjust as needed */
	color: grey;         /* adjust as needed */	
}

.accordion-toggle.collapsed:before {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
